<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-android-window-background" version="1.0.1">
    <name>Android Window Background</name>
    <description>Plugin to set Android window background for Cordova/Ionic applications</description>
    <license>MIT</license>
    <author>WINTER</author>
    <keywords>cordova,ionic,android,window background,color,background,window,theme,styles.xml</keywords>
	
	<engines>
	  <engine name="cordova-android" version=">=7.0.0" />
	</engines>

  	<platform name="android">
  		<preference name="WINDOW_BACKGROUND_COLOR" />
		<preference name="WINDOW_NAVIGATION_BAR_COLOR" />

		<!-- this code is commented to enable compatiblitiy with the CUSTOM URL SCHEME PLUGIN -->
  		<!--<edit-config file="AndroidManifest.xml" target="/manifest/application/activity[@android:name='OAKExclusive']" mode="merge">
  			<activity android:name="OAKExclusive" android:theme="@style/CordovaWindowBackgroundTheme"/>
  		</edit-config> -->

		<!--
  		<source-file src="cordova-window-background-strings.xml" target-dir="res/values" />
  		<source-file src="cordova-window-background-styles.xml" target-dir="res/values" />
		-->

  		<edit-config file="app/src/main/res/values/strings.xml" target="/resources" mode="merge">
  			<color name="cordova_window_background">#ffffff</color>
			<color name="cordova_navigation_bar">#ffffff</color>
  		</edit-config>

  		<edit-config file="app/src/main/res/values/styles.xml" target="/resources" mode="merge">
  			<style name="CordovaWindowBackgroundTheme" parent="@android:style/Theme.DeviceDefault.NoActionBar">
  				<item name="android:windowBackground">@color/cordova_window_background</item>
				<item xmlns:tools="http://schemas.android.com/tools" name="android:navigationBarColor" tools:targetApi="21">@color/cordova_navigation_bar</item>
  			</style>
  		</edit-config>
  	</platform>
</plugin>
